**.swp
*.npy
*.npz
pure_spcam_fix_rad.json pure_spcam.json spcam_perturb_m32.json test_config.json
__pycache__/**
*.joblib
*.pdf
tree_reg_*
*.out
*.pth.tar
**/__pycache__/**
**/.ipynb_checkpoints/**
*.zip
ckpts
.vscode/**
